/* HeroesComponent's private CSS styles */

.main-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: center
}

// .heroes-container {

//   align-self: center;
// }

.heroes {
  list-style-type: none;
  padding: 0;
  width: 15em;
  text-align: left;
  margin: auto;
  margin-bottom: 3rem;
}

.heroes li {
  position: relative;
  cursor: pointer;
}

.heroes li:hover {
  left: .1em;
}

// begin-button version
// .heroes button {
//   flex: 1;
//   cursor: pointer;
//   position: relative;
//   left: 0;
//   background-color: #EEE;
//   margin: .5em;
//   padding: 0;
//   border-radius: 4px;
//   display: flex;
//   align-items: stretch;
// }

// .heroes button:hover {
//   color: #2c3a41;
//   background-color: #e6e6e6;
//   left: .1em;
// }

// .heroes button:active {
//   background-color: #525252;
//   color: #fafafa;
// }

// .heroes button.selected {
//   background-color: black;
//   color: white;
// }

// .heroes button.selected:hover {
//   background-color: #505050;
//   color: white;
// }

// .heroes button.selected:active {
//   background-color: black;
//   color: white;
// }
// end-button version

.heroes a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
}

.heroes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

// .heroes .name {
//   align-self: center;
// }